// Options
// 
// Quickly modify global styling by enabling or disabling optional features.
  
$enable-rounded:            true !default;
$enable-shadows:            true;
$enable-transitions:        true;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       true;

// Variables
//
// Colors

$theme-colors: (
  primary: #DF5E88,
  secondary: #8FCFD1,
  light: #F6EFA6,
  dark: black,
  info: #F6AB6C,
  success: #28a745,
  warning: #ffc107,
  danger: #dc3545
);


$body-color: #1B1B1B;


$body-color-inverse: invert($body-color) !default;
$link-color: #CB4470;

// Fonts
$font-family-base: Comic Sans MS, cursive, sans-serif;
$headings-font-family: Comic Sans MS, cursive, sans-serif;
$display-font-family: $font-family-base;
$font-weight-normal: 200;
$headings-font-weight: 200;
$lead-font-size:   1.30rem;

$spacer: 1.5rem;
$body-bg: #FAF7D7;



@import 'bootstrap-4.3.1';


.style {
}